<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
  	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="GPR" value="https://nuget.pkg.github.com/jamesfera/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GPR>
        <add key="Username" value="jamesfera" />
        <add key="ClearTextPassword" value="cd84b2af59e3cc8c70832adb6449facc6fcb6709" />
      </GPR>
  </packageSourceCredentials>
</configuration>