<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
  	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="GPR" value="https://nuget.pkg.github.com/jamesfera/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GPR>
        <add key="Username" value="jamesfera" />
        <add key="ClearTextPassword" value="fbab16764e6ce1341f9cd46c1093b71e52b24b5e" />
      </GPR>
  </packageSourceCredentials>
</configuration>